body {
    background-color: #e0f7fa; 
    font-family: 'Arial', sans-serif;
  }
  
  a {
    color: #007bff; 
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  h1 {
    color: #00796b; 
    font-size: 32px;
  }
  